

<header id="header" class="sticky-style-2">
    <div class="container clearfix">
        <!-- Logo
        ============================================= -->
        <div id="logo" class="divcenter text-center">
            <h1>Aurelius Prochazka</h1>
        </div><!-- #logo end -->
    </div>
    <div id="header-wrap">
        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="style-2 center">
            <div class="container clearfix">
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <ul>     
                    {% for nav in site.navs %}
                    <li ><a href="{{ nav.href }}"
               class="{% if page.menu == nav.label %} selected {% endif %} site-header-nav-item hvr-underline-from-center"
               target="{{ nav.target | default: _self }}"
               title="{{ nav.label }}"><div>{{ nav.label }}</div></a></li>
                    {% endfor %}
                </ul>

            </div>
        </nav><!-- #primary-menu end -->
    </div>
</header><!-- #header end -->