<section id="page-title" style="margin-bottom: 20px;">
  <div class="container clearfix">
    <h1>{{page.title}}</h1>
    <span></span>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">{{page.title}}</li>
    </ol>
  </div>
</section>


<div class="container">

  <div class="row" style="padding-bottom: 20px">
      <h2 class="text-center" style="padding-top: 20px">Past Talks</h2>
      <hr>

      <div class="col-xs-12 presentation-video">
           <iframe src="http://player.vimeo.com/video/189991495" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid0"></iframe>
      </div>

      </div>
      <div class="col-sm-6">
        <a href="http://360idev.com/sessions/100-fast-fun-professional-audio-apps/" target="_blank">
          <img src="/assets/images/360iDev.png" alt="">
        </a>
      </div>
      <div class="col-sm-6">
        <a href="https://realm.io/news/slug-aure-prochazka-fun-fast-audio-swift/" target="_blank">
          <img src="/assets/images/Realm.png" alt="">
        </a>
      </div>
  </div>
</div>
