<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Portfolio Filter
            ============================================= -->
            <!--
            <ul class="portfolio-filter clearfix" data-container="#portfolio">
                <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".pf-icons">Icons</a></li>
                <li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
                <li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
            </ul>
            -->
            <!-- #portfolio-filter end -->
            <!--
            <div class="portfolio-shuffle" data-container="#portfolio">
                <i class="icon-random"></i>
            </div>

            <div class="clear"></div>
            -->

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio grid-container clearfix">
                <article class="portfolio-item pf-uielements pf-icons">
                    <div class="portfolio-image text-center">
                            <i class="i-plain color i-large icon-line2-equalizer inline-block" style="margin: 0px;"></i>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3><a href="https://github.com/audiokit/AudioKit" target="_blank">AudioKit</a></h3>
                        <div>
                            <iframe src="https://ghbtns.com/github-btn.html?user=audiokit&repo=Audiokit&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=audiokit&repo=Audiokit&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-graphics pf-media pf-uielements">
                    <div class="portfolio-image text-center">
                        <i class="i-plain color i-large icon-sound inline-block" style="margin: 0px;"></i>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3><a href="https://github.com/PaulBatchelor/Soundpipe">Soundpipe</a></h3>
                        <div>
                            <iframe src="https://ghbtns.com/github-btn.html?user=PaulBatchelor&repo=Soundpipe&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=PaulBatchelor&repo=Soundpipe&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-media pf-icons">
                    <div class="portfolio-image text-center">
                            <i class="i-plain color i-large icon-microphone2 inline-block" style="margin: 0px;"></i>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3><a href="https://github.com/PaulBatchelor/Sporth">Sporth</a></h3>
                        <div>
                            <iframe src="https://ghbtns.com/github-btn.html?user=PaulBatchelor&repo=Sporth&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=PaulBatchelor&repo=Sporth&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                        </div>
                    </div>
                </article>

                <article class="portfolio-item pf-media pf-icons">
                    <div class="portfolio-image text-center">
                            <i class="i-plain color i-large icon-headphones inline-block" style="margin: 0px;"></i>
                    </div>
                    <div class="portfolio-desc text-center">
                        <h3><a href="https://github.com/csound/csound">csound</a></h3>
                        <div>
                            <iframe src="https://ghbtns.com/github-btn.html?user=csound&repo=csound&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=csound&repo=csound&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                        </div>
                    </div>
                </article>
            </div><!-- #portfolio end -->
        </div>
    </div>
</section><!-- #content end -->