{% for file in site.static_files %}
  {% if file.path contains {{page.title}} and file.extname contains "txt"%}
    {% assign file_path = {{file.path}} %}
  {% endif %}
{% endfor %}

{% render_lyrics %}

<div>{% include help.html %}</div>

<hr>

<h3>Pdfs:</h3>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains {{page.title}} and file.extname contains "pdf"%}
      <li><a href="{{file.path}}">{{file.path}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<hr>

<h3>MIDIs:</h3>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains {{page.title}} and file.extname contains "mid"%}
      <li><a href="{{file.path}}">{{file.path}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<hr>

<h3>Docs:</h3>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains {{page.title}} and file.extname contains "doc"%}
      <li><a href="{{file.path}}">{{file.path}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<hr>

<h3>Sibelius:</h3>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains {{page.title}} and file.extname contains "sib"%}
      <li><a href="{{file.path}}">{{file.path}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<hr>

<h3>Encore:</h3>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains {{page.title}} and file.extname contains "enc"%}
      <li><a href="{{file.path}}">{{file.path}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<hr>

<h3>Finale:</h3>
<ul>
  {% for file in site.static_files %}
    {% if file.path contains {{page.title}} and file.extname contains "mus"%}
      <li><a href="{{file.path}}">{{file.path}}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<hr>

