<div>{% include help.html %}</div>


{% assign text = files | find_txt %}

{% capture folder %}
  {{artist}}
{% endcapture %}

{% capture song %}
  {{page.title | lstrip}}
{% endcapture %}

{% assign pdfs = files | find_pdfs %}
<h3>PdfS:</h3>
<ul>
  {% for pdfs in pdfs %}
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{pdfs}}">{{pdfs}}</a></li>
  {% endfor %}
</ul>


<hr>

<h3>MIDI:</h3>
{% assign mids = files | find_mids %}


<ul>
  {% for mids in mids %}
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{mids}}">{{mids}}</a></li>
  {% endfor %}
</ul>

<hr>

<h3>Docs:</h3>
{% assign docs = files | find_docs %}


<ul>
  {% for docs in docs %}
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{docs}}">{{docs}}</a></li>
  {% endfor %}
</ul>


<hr>

<h3>Sibelius:</h3>
{% assign sibs = files | find_sibs %}


<ul>
  {% for sib in sibs %}
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{sib}}">{{sib}}</a></li>
  {% endfor %}
</ul>

<hr>

<h3>ENC:</h3>
{% assign encs = files | find_encs %}


<ul>
  {% for enc in encs %}
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{enc}}">{{enc}}</a></li>
  {% endfor %}
</ul>

<hr>

<h3>Finale:</h3>
{% assign muss = files | find_mus %}


<ul>
  {% for mus in muss %}
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{mus}}">{{mus}}</a></li>
  {% endfor %}
</ul>

<hr>


<!--


{% for file in files %}
<ul>
    <li><a href="/assets/music/{{artist}}/{{page.title}}/{{file}}">{{file}}</li>
</ul>
{% endfor %}
<h3>PDFS:</h3>




-->

